<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>GNU Coffee Collection</title>
</head>
<body class="container-fluid">
<h1>GNU Coffee Collection</h1>
<h2>Product-Detail</h2>
<div class="card">
    <div th:text="${product.id}" class="card-header"></div>
    <div class="card-body">
        <h5 th:text="${product.name}" class="card-title"></h5>
        <h6 th:text="${product.category}" class="card-subtitle mb-2 text-muted"></h6>
        <p th:text="${product.price} + ' ₩ '" class="card-text"></p>
        <p th:text="${product.description}" class="card-text"></p>
        <p th:text="${product.createdAt}" class="card-text"></p>
        <p th:text="${product.updatedAt}" class="card-text"></p>

        <div class="btn-area">
            <a th:href="@{/products}" class="btn btn-secondary">Back</a>
        </div>
    </div>
</div>
</body>
</html>
